.bg-desktop {
  background-image: url("./assets/background1.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
  .bg-mobile {
    background-image: url("./assets/background-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
